.one{
  width: 400px;
  height: 200px;
  background-color: #eee;
  padding: 30px;
  margin: 10px auto;
  transition-duration: 0.5s;
  transition-delay: 0;
  transition-timing-function: ease;
  text-align: center;
}
.one:hover{
  margin-top: 40px;
}
.two {
  background-color: #ccc;
  transition-duration: 1s;
  transition-delay: 0.5s;
  transition-timing-function: linear;
  padding: 20px;
}
.one:hover .two {
  margin-top: 30px;
}